<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="TCP" />
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="SOAP" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.168.0.90/" binding="netTcpBinding"
                bindingConfiguration="TCP" contract="VelibsService.IVelibsOptimisation"
                name="TCP">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Velibs/VelibsOptimisation/"
                binding="wsDualHttpBinding" bindingConfiguration="SOAP" contract="VelibsService.IVelibsOptimisation"
                name="SOAP">
                <identity>
                    <userPrincipalName value="JUNI\RobLocal" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>